img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'PragmaticaBookReg';
  font-size: 14px;
  color: #565a5c;
}
.header {
  height: 75px;
  color: #565a5c;
}
.logo {
  float: left;
  width: 21%;
  padding-left: 15px;
  height: 75px;
}
.header__contact {
  float: left;
  width: 18%;
  height: 75px;
}
.header__recom {
  float: left;
  width: 13%;
  height: 75px;
}
.catalog__link {
  float: left;
  width: 17%;
  height: 75px;
}
.enter__link {
  float: left;
  text-align: right;
  width: 13%;
  padding-right: 15px;
  height: 75px;
}
.telephone__code {
  display: inline-block;
  vertical-align: middle;
}
.telephone__number {
  display: inline-block;
  vertical-align: middle;
  font-family: 'PragmaticaMedium';
  font-size: 20px;
}
.telephone {
  margin-bottom: 5px;
}
.header__time {
  color: #9a9a9a;
  font-size: 13px;
}
.get-call {
  font-size: 12.5px;
  color: #08b2ff;
}
.get-call:hover {
  text-decoration: underline;
}
.catalog__link-label {
  width: 100%;
  display: block;
  height: 40px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #e6e6e7;
  padding-left: 50px;
  line-height: 38px;
  color: #aaaaaa;
  background: url(../images/cat-icon.png) no-repeat 10%;
}
.enter__link-label {
  font-size: 13px;
  color: #00aeef;
  position: relative;
}
.enter__link-label:hover {
  text-decoration: underline;
}
.enter__link-label:before {
  content: "";
  display: block;
  background: url(../images/enter-icon.png) no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  z-index: 2;
  left: -22px;
  top: 2px;
}
.nav {
  background: #f4f4f4;
}
.catalog-menu {
  float: left;
}
.nav-menu {
  float: left;
  padding: 0 30px;
}
.catalog-menu__item {
  position: relative;
}
.catalog-menu__item:hover > a {
  background-color: #fff;
  border-top-color: #92bc52;
}
.catalog-menu__item:hover .dropdown-menu {
  display: block;
}
.catalog-menu__item.active > a {
  background-color: #fff;
  border-top-color: #92bc52;
}
.catalog-menu__item .dropdown-menu {
  left: 0;
  width: 425px;
}
.catalog-menu__item > a {
  display: block;
  height: 50px;
  padding-left: 20px;
  line-height: 43px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 4px solid transparent;
  font-family: 'PragmaticaBookReg';
  font-size: 13px;
  color: #c1c1c1;
  padding-right: 55px;
  background-image: url(../images/drop-arrow.png);
  background-repeat: no-repeat;
  background-position: 90% 18px;
}
.catalog-menu__item > a:hover {
  background-color: #fff;
  border-top-color: #92bc52;
}
.dropdown-menu {
  position: absolute;
  z-index: 10;
  background: #fff;
  padding: 35px 20px;
  display: none;
}
.catalog-menu__item_child {
  float: left;
  width: 50%;
}
.catalog-menu__item_child > ul {
  padding-left: 10px;
  margin-top: 20px;
}
.catalog-menu__item_child > ul > li {
  margin-bottom: 12px;
}
.catalog-menu__item_child > ul > li:last-child {
  margin-bottom: 0;
}
.catalog-menu__label {
  font-family: 'PragmaticaBoldReg';
  color: #565a5c;
}
.menu__label {
  color: #08b2ff;
  line-height: 1.3;
}
.menu__label:hover {
  text-decoration: underline;
}
.nav-menu__item {
  float: left;
  position: relative;
}
.nav-menu__item.active > a {
  background-color: #fff;
  border-top-color: #92bc52;
}
.nav-menu__item.with-drop:hover > a {
  background-color: #fff;
  border-top-color: #92bc52;
}
.nav-menu__item.with-drop:hover .dropdown-menu {
  display: block;
}
.nav-menu__item.with-drop .dropdown-menu {
  right: 0;
  width: 205px;
}
.nav-menu__item.with-drop > a {
  padding-right: 35px;
  background-image: url(../images/menu-drop.png);
  background-repeat: no-repeat;
  background-position: 75% 19px;
}
.nav-menu__item > a {
  display: block;
  height: 50px;
  line-height: 43px;
  color: #565a5c;
  border-top: 4px solid transparent;
  padding: 0 15px;
}
.nav-menu__item > a:hover {
  background-color: #fff;
  border-top-color: #92bc52;
}
.nav-menu__drop {
  margin-bottom: 12px;
}
.nav-menu__drop:last-child {
  margin-bottom: 0;
}
.basket__icon {
  display: inline-block;
  vertical-align: middle;
}
.basket__label {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/buubble.png) no-repeat;
  width: 33px;
  height: 20px;
  font-family: 'PragmaticaMedium';
  color: #fff;
  text-align: center;
  padding-left: 5px;
  line-height: 18px;
}
.basket-block {
  float: right;
  height: 50px;
  padding-right: 15px;
}
.main-slider .bx-wrapper .bx-prev {
  left: 50%;
  margin-left: -620px;
}
.main-slider .bx-wrapper .bx-next {
  right: 50%;
  margin-right: -620px;
}
.main-slider__item {
  height: 565px;
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  text-align: center;
}
.main-slider__desc {
  height: 565px;
  color: #fff;
}
.slider__title {
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'PragmaticaBoldReg';
  margin-bottom: 20px;
}
.slider__small-title {
  font-size: 18px;
  margin-bottom: 30px;
}
.slider__link-label {
  display: block;
  width: 200px;
  height: 40px;
  margin: auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #92bc52;
}
.slider__link-arrow {
  display: inline-block;
  vertical-align: middle;
  font-family: 'PragmaticaMedium';
  font-size: 16px;
  position: relative;
  top: -2px;
}
.slider__link-text {
  font-family: 'PragmaticaBookReg';
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
}
.info-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.info__item {
  height: 60px;
}
.info__item a {
  color: #08b2ff;
}
.info__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.info__text {
  font-family: 'PragmaticaMedium';
  display: inline-block;
  vertical-align: middle;
}
.info {
  background: #f3f3f3;
  margin-bottom: 45px;
  border-bottom: 1px solid #eaeaea;
}
.product__item {
  padding-left: 20px;
  padding-bottom: 20px;
}
.product-wrapp {
  margin-left: -20px;
}
.product__item-inner {
  height: 200px;
  padding-left: 20px;
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  font-family: 'PragmaticaBoldReg';
  padding-top: 40px;
}
.product__item-inner .rub {
  font-size: 22px;
}
.product-large {
  height: 420px;
  padding: 0;
  text-align: center;
}
.product__name {
  font-size: 24px;
  color: #f1f1f1;
  margin-bottom: 10px;
}
.product__price {
  display: inline-block;
  font-size: 24px;
  color: #f1f1f1;
  background: #fd951c;
  padding: 3px;
}
.rub {
  font-family: 'rouble';
}
.item__title {
  font-family: 'PragmaticaBoldReg';
  font-size: 24px;
  margin-bottom: 5px;
}
.small-item__title {
  font-size: 18px;
  margin-bottom: 30px;
}
.product__item-more {
  height: 200px;
  text-align: center;
  font-family: 'PragmaticaBoldReg';
  font-size: 24px;
  color: #f1f1f1;
  background: #92bc52;
}
.product {
  padding-bottom: 50px;
}
.advantages__title {
  font-size: 18px;
  font-family: 'PragmaticaMedium';
  margin-bottom: 10px;
}
.advantages__text {
  line-height: 1.3;
}
.advantages__item {
  padding-left: 80px;
  padding-top: 12px;
  min-height: 65px;
  position: relative;
}
.advantages__icon {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
}
.advantages {
  background: #f4f4f4;
  padding: 55px 0;
}
.popular {
  padding: 70px 0;
}
.popular__filter-item {
  margin-left: 10px;
  color: #00b3ff;
}
.popular__filter-item:hover {
  text-decoration: underline;
}
.popular__filter-item.active {
  color: #565a5c;
  font-family: 'PragmaticaMedium';
}
.popular__filter-item.active:hover {
  text-decoration: none;
}
.popular__filter-item:first-child {
  margin-left: 0;
}
.popular__header {
  position: relative;
  margin-bottom: 40px;
}
.popular__link {
  display: block;
  width: 200px;
  height: 40px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #92bc52;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}
.popular__slider {
  padding: 0 25px;
  text-align: center;
  position: relative;
}
.slide__btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  cursor: pointer;
  margin-top: -15px;
}
.slide__btn.prev {
  left: 0px;
}
.slide__btn.next {
  right: 0px;
}
.text-block {
  background: #f4f4f4;
  padding: 60px 0;
}
.text-block__info {
  background: #fff;
  height: 380px;
  padding-left: 30px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}
.text-block__info .item__title {
  margin-bottom: 20px;
}
.text-block__descr {
  line-height: 1.5;
}
.text-block__descr p {
  margin-bottom: 20px;
}
.text-block__item {
  margin-bottom: 40px;
}
.features__item {
  text-align: center;
  line-height: 1.3;
}
.features__icon {
  display: inline-block;
  vertical-align: middle;
}
.features__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-family: 'PragmaticaMedium';
  text-align: left;
  margin-left: 6px;
}
.features__title {
  height: 55px;
}
.complete {
  padding-top: 70px;
  padding-bottom: 60px;
}
.complete__descr {
  float: left;
}
.complete__link {
  float: right;
}
.complete__link a {
  display: block;
  width: 132px;
  line-height: 38px;
  height: 40px;
  text-align: center;
  border: 1px solid #92bc52;
  color: #92bc52;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'PragmaticaMedium';
}
.complete__link a:hover {
  background: #92bc52;
  color: #fff;
}
.complete-wrapp {
  padding-left: 20px;
}
.complete__list {
  margin-left: -20px;
  margin-bottom: 40px;
}
.complete__item {
  padding-left: 20px;
}
.complete__item-inner {
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.complete__info {
  padding: 20px 10px;
}
.complete__name {
  font-size: 16px;
  font-family: 'PragmaticaMedium';
  margin-bottom: 5px;
}
.complete__date {
  font-size: 14px;
}
.more__icon {
  display: inline-block;
  vertical-align: middle;
}
.more__text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #bcbcbc;
  font-family: 'PragmaticaMedium';
  margin-left: 5px;
}
.more__block {
  text-align: center;
}
.more__btn {
  position: relative;
}
.more__btn:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 370px;
  height: 1px;
  z-index: 2;
  background: #e5e5e5;
  margin-left: 20px;
}
.more__btn:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 370px;
  height: 1px;
  z-index: 2;
  background: #e5e5e5;
  margin-right: 20px;
}
.ideas {
  background: url(../images/ideas.jpg);
  height: 200px;
}
.ideas__text {
  text-align: right;
  float: right;
  width: 280px;
  height: 200px;
  color: #fff;
}
.ideas__text p {
  line-height: 1.3;
  font-size: 14px;
}
.ideas__title {
  font-size: 28px;
  font-family: 'PragmaticaBoldReg';
  margin-bottom: 20px;
}
.item__link {
  color: #92bc52;
  background: transparent;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  border: 1px solid #e5e5e6;
  height: 40px;
  line-height: 40px;
  font-family: 'PragmaticaMedium';
  font-size: 14px;
  letter-spacing: 0.5px;
}
.item__link:hover {
  background: #92bc52;
  color: #fff;
  border-color: transparent;
}
.article__header {
  position: relative;
  margin-bottom: 25px;
  padding-left: 20px;
}
.article__btn {
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 190px;
}
.article {
  padding-top: 90px;
  padding-bottom: 50px;
}
.article__img {
  height: 270px;
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
}
.article__descr {
  text-align: center;
  height: 180px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  padding: 0 20px;
}
.green {
  background: #92bc52;
}
.blue {
  background: #00c1ff;
}
.article__title {
  font-size: 24px;
  font-family: 'PragmaticaMedium';
  margin-bottom: 15px;
}
.article__item {
  padding-left: 20px;
}
.article__block-img {
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  height: 450px;
}
.article__block-img .article__descr {
  height: 450px;
}
.article-wrapp {
  margin-bottom: 40px;
}
.article-wrapp.inner {
  margin-left: -20px;
}
.article-wrapp.inner .article__item {
  padding-top: 25px;
}
.sequence {
  height: 535px;
  background: url(../images/seq-bg.jpg) no-repeat 50%;
  -o-background-size: cover;
  background-size: cover;
}
.sequence__item {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: 'PragmaticaMedium';
}
.sequence__icon {
  margin-bottom: 15px;
}
.sequence__step {
  height: 40px;
}
.sequence__item {
  margin-top: 95px;
  position: relative;
}
.sequence-wrapp {
  padding: 0 40px;
}
.sequence__arow {
  position: absolute;
  top: 40px;
  z-index: 2;
  right: -20px;
}
.sequence__arow_bottom {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 50%;
  margin-right: -14.5px;
  bottom: -45px;
  top: auto;
}
.sequence__arow_left {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  right: auto;
  left: -20px;
}
.text-block__baner {
  height: 380px;
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
}
.footer-wrapp {
  padding-left: 20px;
}
.text-block__item_pad {
  padding-left: 20px;
  margin-bottom: 0;
}
.footer__top {
  background: url(../images/foot-bg.jpg);
  height: 420px;
  padding: 60px 0;
}
.footer__list {
  margin-bottom: 70px;
}
.footer__list:last-child {
  margin-bottom: 0;
}
.footer__list > li > a {
  color: #fff;
  font-size: 20px;
  font-family: 'PragmaticaMedium';
}
.footer__list > li > a:hover {
  text-decoration: underline;
}
.footer__list > li > ul {
  margin-top: 12px;
}
.footer__list > li > ul li {
  margin-bottom: 5px;
}
.footer__list > li > ul a {
  color: #fff;
  font-size: 14px;
}
.footer__list > li > ul a:hover {
  text-decoration: underline;
}
.payment__item {
  float: left;
  padding-right: 10px;
}
.footer__title {
  color: #fff;
  font-size: 20px;
  font-family: 'PragmaticaMedium';
  margin-bottom: 12px;
}
.footer__text {
  line-height: 1.3;
  color: #fff;
  font-size: 14px;
  margin-bottom: 30px;
}
.footer__bottom {
  background: #3b3e3f;
}
.socail__list li {
  float: left;
  margin-left: 20px;
}
.widget {
  text-align: center;
}
.design__info {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
}
.design__info a {
  color: #ef5249;
}
.design__icon {
  display: inline-block;
  vertical-align: middle;
}
.footer__design {
  text-align: right;
  height: 60px;
}
.widget {
  height: 60px;
}
.social__item {
  height: 60px;
}
.contacts {
  padding-top: 40px;
  padding-bottom: 50px;
}
.contacts .item__title {
  margin-bottom: 30px;
}
.contact__item_icon {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
}
.contact__item_text {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-family: 'PragmaticaBoldReg';
  line-height: 1.2;
}
.contact__item_text a {
  color: #08b2ff;
}
.contact__item_small-text {
  font-family: 'PragmaticaBookReg';
  color: #9a9a9a;
  font-size: 13px;
}
.contact__item {
  margin-bottom: 20px;
  padding-left: 55px;
}
.contact__info_text {
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
  padding-top: 10px;
}
.contact__info {
  padding-right: 25px;
}
.contact__info-inner {
  border: 2px solid #92bc52;
}
.contact__info_top {
  padding-top: 40px;
  padding-bottom: 25px;
}
.contact__info_bottom {
  padding: 20px 0;
  background: #f4f4f4;
}
.get__call {
  display: block;
  width: 210px;
  margin: auto;
}
.contact__map_title {
  text-align: center;
  padding: 15px 0;
}
.contact__map_icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.contact__map_text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.contact__map_text b {
  font-size: 16px;
  font-family: 'PragmaticaBoldReg';
}
.contact__map {
  border: 1px solid #e5e5e6;
  height: 340px;
}
.contact__map_item img {
  width: 100%;
  height: 280px;
}
.contact-form {
  padding: 50px 0;
  background: #f4f4f4;
}
.item__title_small {
  font-size: 16px;
}
.contact-form__item {
  background: #fff;
  margin-top: 15px;
  padding: 50px 35px;
  border: 1px solid rgba(1, 3, 5, 0.1);
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.contact-form__item .submit__item {
  float: right;
  width: 205px;
}
.label__input {
  font-size: 14px;
  margin-bottom: 10px;
}
.input-block {
  margin-bottom: 20px;
}
.input__item {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #e7e7e7;
  outline: 0;
  font-size: 14px;
  font-family: 'PragmaticaBookReg';
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding-left: 10px;
  -webkit-box-shadow: inset -1px 2px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset -1px 2px 2px 0px rgba(0, 0, 0, 0.15);
}
.textarea__item {
  display: block;
  width: 100%;
  height: 125px;
  border: 1px solid #e7e7e7;
  outline: 0;
  font-size: 14px;
  font-family: 'PragmaticaBookReg';
  -webkit-border-radius: 15px;
  border-radius: 15px;
  resize: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-left: 10px;
  -webkit-box-shadow: inset -1px 2px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset -1px 2px 2px 0px rgba(0, 0, 0, 0.15);
}
.right__form {
  padding-left: 20px;
}
.submit__item {
  display: block;
  border: 1px solid #92bc52;
  color: #92bc52;
  height: 40px;
  background: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'PragmaticaMedium';
  cursor: pointer;
}
.submit__item:hover {
  background: #92bc52;
  color: #fff;
}
.form__main {
  float: left;
  width: 160px;
  line-height: 1.2;
}
.contact__text {
  padding: 45px 0;
  text-align: center;
}
.contact__text li {
  margin-bottom: 12px;
}
.contact__text li:last-child {
  margin-bottom: 0;
}
.inner-title {
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  height: 280px;
}
.inner-title__img {
  text-align: center;
  height: 280px;
  color: #fff;
}
.inner-title_big {
  font-size: 32px;
  font-family: 'PragmaticaBoldReg';
  margin-bottom: 12px;
}
.inner-title_big.uppercase {
  text-transform: uppercase;
  letter-spacing: 4px;
}
.inner-title_small {
  font-size: 16px;
}
.inner-menu-list {
  font-size: 14px;
}
.inner-menu-list li {
  float: left;
}
.inner-menu-list li.active a,
.inner-menu-list li:hover a {
  border-top-color: #92bc52;
  background: #fff;
  color: #92bc52;
}
.inner-menu-list a {
  display: block;
  height: 50px;
  border-top: 4px solid transparent;
  color: #565a5c;
  padding: 0 43px;
  line-height: 44px;
  font-family: 'PragmaticaMedium';
}
.inner-menu {
  background: #f4f4f4;
}
.product-info__features {
  padding-right: 15px;
}
.product-info__features ul {
  border: 1px solid rgba(1, 3, 5, 0.1);
  padding: 40px 20px;
  -webkit-box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 1.2;
}
.product-info__features li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
}
.product-info__features li:last-child {
  margin-bottom: 0;
}
.product-info__icon {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 2px;
}
.product-info__text_title {
  font-size: 14px;
  font-family: 'PragmaticaMedium';
  margin-bottom: 5px;
}
.product-info {
  padding-top: 40px;
  padding-bottom: 50px;
}
.product-info__descr {
  padding-left: 10px;
}
.product-info__descr-inner {
  border: 1px solid rgba(1, 3, 5, 0.1);
  -webkit-box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.product-info__baner {
  background-repeat: no-repeat;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50%;
  height: 400px;
  color: #fff;
  text-align: center;
}
.product-info__baner-title {
  font-size: 24px;
  font-family: 'PragmaticaBoldReg';
  line-height: 1.2;
  margin-bottom: 50px;
}
.product-info__baner-text {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 55px;
}
.product-info__item {
  height: 400px;
  padding: 0 25px;
  padding-right: 30px;
}
.product-info__item .item__title {
  margin-bottom: 30px;
  line-height: 1.3;
}
.product-info__item p {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.product-info__item p a {
  color: #08b2ff;
}
.product-info__item p a:hover {
  text-decoration: underline;
}
.product-info__order-link {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-family: 'PragmaticaBoldReg';
  background: #fd951c;
  letter-spacing: 1px;
  width: 245px;
}
.product-info__order-price {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  width: 95px;
  margin-left: 20px;
}
.product-info__order-price b {
  font-family: 'PragmaticaBoldReg';
}
.product-info__baner-item {
  padding-left: 20px;
}
.product-info-wrapp {
  margin-bottom: 20px;
}
.product-info-link__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.product-info-link__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-family: 'PragmaticaMedium';
  color: #565a5c;
  line-height: 1.2;
  text-align: left;
}
.p-icon-1 {
  background: url(../images/p-icon1.png) no-repeat;
  width: 40px;
  height: 40px;
}
.p-icon-2 {
  background: url(../images/p-icon2.png) no-repeat;
  width: 40px;
  height: 40px;
}
.p-default {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #e3e3e3;
}
.product-info-link__item {
  text-align: center;
}
.product-info-link__item > a {
  display: block;
  padding: 25px 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.product-info-link__item > a:hover {
  -webkit-box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #e5e5e6;
  border-right: 1px solid #e5e5e6;
}
.product-info-link__item > a:hover .product-info-link__name {
  color: #08b2ff;
}
.product-info-link__item > a:hover .p-icon-2 {
  background: url(../images/p-icon2-active.png) no-repeat;
}
.product-info-link__item > a:hover .p-icon-1 {
  background: url(../images/p-icon1-active.png) no-repeat;
}
.product-info-link__item > a:hover .p-default {
  background: #08b2ff;
}
.product-info-link {
  border: 1px solid #e5e5e6;
}
.product-price {
  padding-top: 45px;
  padding-bottom: 30px;
  background: #f4f4f4;
}
.product-price__table {
  margin-bottom: 30px;
}
.product-price__table table {
  width: 100%;
}
.product-price__table table td:first-child {
  padding-left: 25px;
  width: 515px;
}
.product-price__table table td:nth-child(2) {
  width: 170px;
  text-align: center;
}
.product-price__table table td:nth-child(3) {
  width: 170px;
  text-align: center;
}
.product-price__table table td:nth-child(4) {
  width: 170px;
  text-align: center;
}
.product-price__table table thead td {
  padding: 12px 0;
  font-size: 16px;
  font-family: 'PragmaticaMedium';
}
.product-price__table table tbody tr:nth-child(odd) {
  background: #e7e7e7;
}
.product-price__table table tbody td {
  font-size: 14px;
  font-family: 'PragmaticaBookReg';
  padding: 8px 0;
}
.more__btn_small:before {
  width: 345px;
}
.more__btn_small:after {
  width: 345px;
}
.we-use__img {
  text-align: center;
  height: 340px;
  background-repeat: no-repeat;
  background-position: 50%;
  -o-background-size: cover;
  background-size: cover;
}
.we-use__descr {
  height: 340px;
  padding: 0 30px;
}
.we-use__descr p {
  line-height: 1.2;
  font-size: 14px;
  margin-bottom: 20px;
}
.we-use__descr .green {
  color: #92bc52;
  background: none;
}
.we-use__title {
  font-size: 16px;
  font-family: 'PragmaticaMedium';
  margin-bottom: 10px;
}
.we-use {
  padding-top: 60px;
  padding-bottom: 40px;
}
.we-use .item__title {
  margin-bottom: 25px;
}
.we-use__top {
  border: 1px solid #e5e5e6;
  -webkit-box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.we-use__bottom {
  border: 1px solid #e5e5e6;
  -webkit-box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.we-use__inner-title {
  font-size: 14px;
  font-family: 'PragmaticaMedium';
  margin-bottom: 5px;
}
.we-use__inner {
  position: relative;
  padding-left: 125px;
}
.we-use__inner-text {
  height: 100px;
  margin-bottom: 20px;
}
.we-use__inner-text p {
  margin-bottom: 0 !important;
}
.we-use__inner-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.we-use__link a {
  display: block;
  margin: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-family: 'PragmaticaBoldReg';
  background: #fd951c;
  letter-spacing: 1px;
  width: 245px;
}
.product-catalog__result {
  font-size: 18px;
}
.product-catalog__result a {
  color: #08b2ff;
  font-family: 'PragmaticaMedium';
}
.product-catalog__header {
  margin-bottom: 20px;
}
.product-catalog__img {
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 140px;
  background-color: #92bc52;
  padding-top: 10px;
  padding-left: 20px;
}
.product-catalog__img.large {
  height: 300px;
}
.product-catalog {
  background: #f4f4f4;
  padding-top: 50px;
  padding-bottom: 40px;
}
.product-catalog__item {
  padding-left: 20px;
  padding-bottom: 20px;
}
.product-catalog__content {
  margin-left: -20px;
  margin-bottom: 30px;
}
.product-catalog__name {
  color: #fff;
  font-size: 16px;
  font-family: 'PragmaticaBoldReg';
}
.product-catalog__name sup {
  font-size: 12px;
  color: #fd951c;
}
.article__inner {
  background: #f4f4f4;
  padding-top: 60px;
  padding-bottom: 40px;
}
.article__descr_inner {
  text-align: left;
}
.article__descr_inner .article__title {
  margin-bottom: 0;
  line-height: 1.3;
}
.article__date {
  font-size: 12px;
  margin-bottom: 25px;
}
.article__block-img_inner .article__descr {
  height: auto;
}
.product-text {
  padding: 60px 0;
  font-size: 15px;
  line-height: 1.3;
}
.product-text .item__title {
  margin-bottom: 20px;
}
.product-text p {
  margin-bottom: 20px;
}
.product-text p:last-child {
  margin-bottom: 0;
}
.product-text__item {
  margin-bottom: 40px;
}
.product-text__item:last-child {
  margin-bottom: 0;
}
.review__item {
  border: 1px solid #e5e5e6;
  -webkit-box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 0px 3px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.review {
  padding: 55px 0;
}
.review__img {
  text-align: center;
}
.review__header .item__title {
  float: left;
}
.review__date {
  float: right;
  font-size: 14px;
  font-family: 'PragmaticaMedium';
  color: #aaa;
}
.review__text {
  line-height: 1.3;
  padding-top: 25px;
  border-bottom: 1px solid #e5e5e6;
}
.review__text.second {
  height: 195px;
  padding-top: 0;
  text-align: center;
  font-size: 16px;
  font-family: 'PragmaticaMedium';
}
.review__text.second .review__text-item {
  height: auto;
  display: inline-block;
  padding-top: 5px;
}
.review__text p {
  margin-bottom: 20px;
}
.review__text p:last-child {
  margin-bottom: 0;
}
.review__link {
  padding-top: 20px;
}
.review__descr {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.review__text-item {
  position: relative;
  padding-left: 50px;
  height: 195px;
}
.review__quote {
  font-size: 65px;
  font-family: 'PragmaticaBoldReg';
  color: #ccc;
  position: absolute;
  z-index: 2;
  left: 0;
  top: -3px;
  line-height: 1;
}
.pagination__text {
  display: inline-block;
  vertical-align: middle;
  color: #aaa;
  font-size: 14px;
  font-family: 'Treduchet MS', Arial, sans-serif;
}
.pagination__input {
  outline: 0;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 30px;
  border: 1px solid #e5e5e6;
  text-align: center;
  font-size: 14px;
  color: #565a5c;
  font-family: 'PragmaticaBoldReg';
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.pagination__page {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}
.pagination__item {
  float: left;
  padding-top: 7px;
}
.pagination__link {
  float: right;
}
.pagination__link a {
  width: 220px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 38px;
  border: 1px solid #92bc52;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
  color: #aaaaaa;
  padding-left: 20px;
  background: url(../images/green-arrow.png) no-repeat 10% 48%;
}
.pagination__arrow {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 14px;
}
.pagination__arrow.prev {
  background: url(../images/pag-left.png) no-repeat;
  margin-right: 10px;
}
.pagination__arrow.prev:hover {
  background: url(../images/pag-left-active.png) no-repeat;
}
.pagination__arrow.next {
  margin-left: 10px;
  background: url(../images/pag-right.png) no-repeat;
}
.pagination__arrow.next:hover {
  background: url(../images/pag-right-active.png) no-repeat;
}
.inner-menu_small {
  text-align: center;
}
.inner-menu_small a {
  padding: 0 35px;
}
.inner-menu_small .inner-menu-list {
  display: inline-block;
}
.content {
  padding-top: 30px;
  padding-bottom: 75px;
}
.tag {
  text-align: center;
  border: 1px solid #e5e5e6;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  margin-bottom: 30px;
}
.tag li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 25px;
}
.tag a {
  font-size: 14px;
  color: #565a5c;
}
.tag a:hover {
  color: #92bc52;
}
.tag a.active {
  color: #92bc52;
  font-family: 'PragmaticaBoldReg';
}
.breadcrumb {
  font-size: 13px;
  margin-bottom: 5px;
}
.breadcrumb li {
  float: left;
}
.breadcrumb a {
  color: #08b2ff;
}
.breadcrumb__arow {
  padding: 0 5px;
}
